* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/concrete_seamless.png")
}

header {
    background-color: #ffffff;
    border-color: #cccccc; 
    font-size: 
}

.content {
    background-color: #ffffff;
    border-color: #dddddd;
    width:960px;
}

h {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


footer {
    border-top: 15px, #4aaaa5;
    background-color: #666666;
    width:100%;
    position:fixed;
    bottom:0;
}
