* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/concrete_seamless.png");
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size:16px;
    line-height: 24px;
    color: #777777;

}

header {
    width:100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    padding: 16px;
    border-bottom: 2px solid #cccccc;  
      
}

nav {
    width: 960px;
    height: 20px;
    margin: auto;
    position: relative;
    
}

div#name {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;    
    font-size: 22px;
    font-weight: bolder;
    top: -20px;
    left: 0;
    padding: 16px;
     
}

nav ul {
    list-style-type: none;
    text-align: center;
    top:0;
    
}

nav li {
    float: right;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px; 
    top:0;

}

.wrapper {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    padding: 20px;
    margin: 15px auto 15px auto;
}
 

#pic    {
    float: left;
    height: 200px;
    width: 200px;
}

p {
    padding: 8px;
    margin: 8px;
}

div#contact {
    padding: 5px;
    margin:5px;
    border: 1px solid grey;
    border-width: thin;
    
}
h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bolder;
    
}
content {
    padding: 5px;
    margin: 5px;
    border: 5px;
}

footer {
    text-align: center;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    color: #dddddd;
    padding-top: 16px; 
    width: 100%;
    font-size: 14px;
    line-height: 12px;
    position: fixed;
    bottom: 0;
}
